@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: "Jost", sans-serif;
}

.logo__img {
  width: 136px;
  height: 29px;
}
@media (min-width: 1024px) {
  .logo__img {
    width: 228px;
    height: 48px;
  }
}

.header {
  max-width: 1750px;
  width: 100%;
  min-height: 64px;
  z-index: 1;
  background-color: #141024;
  display: flex;
  padding: 10px;
  align-items: center;
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 100px;
    position: absolute;
  }
}

.heager__logo {
  margin-right: 10px;
}

.nav {
  position: fixed;
  width: 320px;
  height: 617px;
  padding: 10px;
  background-color: #141024;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100;
  top: 0;
  right: 0;
}
.nav.close {
  display: none;
}
@media (min-width: 1024px) {
  .nav {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    position: initial;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.nav__close {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.08);
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 130px;
}
@media (min-width: 1024px) {
  .nav__close {
    display: none;
  }
}

.nav__link {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  text-decoration: none;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .nav__link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 auto;
  }
}

.header__tel {
  display: none;
}
@media (min-width: 1024px) {
  .header__tel {
    display: block;
  }
}

.burger {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.08);
  opacity: 0.4;
}
@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.tel {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.tel-mobile {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.08);
  opacity: 0.4;
  margin-left: auto;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .tel-mobile {
    display: none;
  }
}

.mobile {
  width: 24px;
  height: 24px;
}

.mainscreen {
  background-color: #141024;
  min-height: 553px;
  display: block;
  position: relative;
  text-align: center;
  padding: 35px 10px 0;
}
@media (min-width: 1024px) {
  .mainscreen {
    min-height: 1080px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }
}

.mainscreen__content {
  display: block;
  max-width: 260px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .mainscreen__content {
    max-width: 1160px;
    margin: 320px auto 0;
    display: block;
  }
}

.mainscreen__desc {
  bottom: 20px;
}
@media (min-width: 1024px) {
  .mainscreen__desc {
    max-width: 516px;
    display: block;
    text-align: left;
  }
}

.mainscreen__title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .mainscreen__title {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.mainscreen__text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
@media (min-width: 1024px) {
  .mainscreen__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
  }
}

.mainscreen__btn {
  position: absolute;
  height: 60px;
  background-color: #d52027;
  color: #fff;
  left: 10px;
  right: 10px;
  z-index: 15;
  bottom: 28px;
}
@media (min-width: 1024px) {
  .mainscreen__btn {
    width: 260px;
    height: 79px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    left: auto;
    top: 50px;
  }
}

.mainscreen-img {
  width: 273px;
  height: 273px;
  margin: 20px auto 0;
  position: relative;
}
@media (min-width: 1024px) {
  .mainscreen-img {
    position: absolute;
    width: 783px;
    height: 917px;
    right: 15px;
    bottom: 0;
    padding-top: 160px;
  }
}

.mainscreen-img__bg {
  width: 273px;
  height: 273px;
  position: absolute;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1024px) {
  .mainscreen-img__bg {
    width: 783px;
    height: 783px;
    position: absolute;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    top: 50%;
    left: 0;
    transform: translateY(-45%);
  }
}

.mainscreen-img__front {
  width: 180px;
  height: 320px;
  position: relative;
  z-index: 10;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .mainscreen-img__front {
    width: 515px;
    height: 917px;
    position: absolute;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.button {
  background-color: #D52027;
  display: block;
  align-items: center;
  color: #FFF;
  border-radius: 5px;
  border: none;
}

.info {
  width: 100%;
  display: block;
}
@media (min-width: 1024px) {
  .info {
    width: 100%;
    display: block;
    background-color: #FFFFFF;
  }
}

.info__title {
  color: #141024;
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
}
@media (min-width: 1024px) {
  .info__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
  }
}

.info__desc {
  display: block;
  text-align: center;
}
@media (min-width: 1024px) {
  .info__desc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: left;
  }
}

.info-card {
  margin-top: 40px;
  width: 100%;
  padding: 0 15px 60px;
}
@media (min-width: 1024px) {
  .info-card {
    margin-top: 60px;
    width: 100%;
  }
}

.info-card__head {
  color: #D52027;
  font-size: 60px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .info-card__head {
    font-size: 70px;
    font-weight: 600;
  }
}

.info-card__text {
  color: rgba(20, 16, 36, 0.7);
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .info-card__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}

.information {
  width: 100%;
  display: block;
  background-color: #F9F9F9;
}
@media (min-width: 1024px) {
  .information {
    width: 100%;
    display: block;
    background-color: #F9F9F9;
    margin: auto 0;
  }
}

.information__title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1024px) {
  .information__title {
    color: #141024;
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
  }
}

.information__desc {
  display: block;
  text-align: center;
}
@media (min-width: 1024px) {
  .information__desc {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.information-card {
  padding-top: 40px;
  padding-bottom: 52px;
  width: 100%;
}
@media (min-width: 1024px) {
  .information-card {
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 360px;
  }
}

.information-card__head {
  color: #141024;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (min-width: 1024Px) {
  .information-card__head {
    color: #141024;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
  }
}

.information-card__text {
  color: rgba(20, 16, 36, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
@media (min-width: 1024px) {
  .information-card__text {
    color: rgba(20, 16, 36, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}

.container {
  max-width: 320px;
  width: 100%;
  padding: 60px 10px 0;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 120px auto;
  }
}

.container:last-child {
  margin-bottom: 0;
}

.person {
  width: 100%;
}
@media (min-width: 1024px) {
  .person {
    width: 100%;
  }
}

.person__title {
  color: #141024;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1024px) {
  .person__title {
    color: #141024;
    font-size: 50px;
    font-weight: 600;
  }
}

.person__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.person__card {
  max-width: 360px;
  width: 100%;
}

.person__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.person__info {
  display: block;
}

.person__name {
  color: #141024;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.person__subtitle {
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  justify-content: center;
}

.slider__arrow {
  width: 33px;
  height: 33px;
}

.product {
  width: 100%;
}

.product__list {
  display: block;
}
@media (min-width: 1024px) {
  .product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

.product__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  margin-top: 40px;
  padding: 40px 20px;
}
.product__card:hover {
  background-color: #141024;
}
.product__card:hover .product__name {
  color: #FFF;
}
.product__card:hover .product__price {
  color: #FFF;
}
.product__card:hover .product__info {
  color: #FFF;
}
@media (min-width: 1024px) {
  .product__card {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    border-radius: 20px;
    border: 1px solid rgba(20, 16, 36, 0.2);
    padding: 40px;
  }
  .product__card:hover {
    background-color: #141024;
  }
  .product__card:hover .product__name {
    color: #FFF;
  }
  .product__card:hover .product__price {
    color: #FFF;
  }
  .product__card:hover .product__info {
    color: #FFF;
  }
}

.product__name {
  color: #141024;
  font-size: 30px;
  font-weight: 600;
}

.product__price {
  color: #141024;
  font-size: 50px;
  font-weight: 600;
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .product__price {
    color: #141024;
    font-size: 50px;
    font-weight: 600;
    margin-top: 83px;
  }
}

.product__info {
  color: #141024;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .product__info {
    color: #141024;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 52px;
  }
}

.product__btn {
  width: 260px;
  height: 60px;
}
@media (min-width: 1024px) {
  .product__btn {
    width: 280px;
    height: 79px;
    margin-top: auto;
  }
}

.contacts {
  background-color: #D52027;
}
@media (min-width: 1024px) {
  .contacts {
    background-color: #D52027;
    background-image: url(../image/img/contacts.svg);
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

.contacts__inner {
  display: block;
  width: 100%;
  margin-top: 60px;
}
@media (min-width: 1024px) {
  .contacts__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 87px 0;
  }
}

.contacts-desc {
  display: block;
  text-align: center;
}
@media (min-width: 1024px) {
  .contacts-desc {
    display: block;
    align-items: center;
    max-width: 440px;
    margin-right: 60px;
  }
}

.contacts-desk__title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .contacts-desk__title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    padding-bottom: 20px;
  }
}

.contacts-desc__subtitle {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .contacts-desc__subtitle {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
  }
}

.form {
  width: 100%;
}
@media (min-width: 1024px) {
  .form {
    max-width: 500px;
    width: 100%;
  }
}

.input {
  width: 100%;
  display: block;
  padding: 22px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
@media (min-width: 1024px) {
  .input {
    width: 100%;
    display: block;
    padding: 22px 20px;
    margin-bottom: 10px;
    border: none;
  }
}

.submit {
  width: 100%;
  padding: 22px 20px;
  border: none;
  border-radius: 5px;
  background-color: #141024;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .submit {
    width: 100%;
    padding: 22px 20px;
    border: none;
    background-color: #141024;
    color: #FFFFFF;
  }
}

.footer {
  width: 100%;
  background-color: #141024;
  display: block;
  text-align: center;
  padding: 40px 0 20px;
}
@media (min-width: 1024px) {
  .footer {
    width: 100%;
    display: block;
    padding: 30px 15px;
    width: 100%;
    background-color: #141024;
  }
}

@media (min-width: 1024px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer__tel {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .footer__tel {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
}

.footer__copy {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .footer__copy {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
  }
}

.person-modal {
  max-width: 940px;
  width: 100%;
  padding: 40px;
}

.person-modal__head {
  display: flex;
  margin-bottom: 40px;
}

.person-modal__image {
  width: 160px;
  height: 222px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.person-modal__name {
  display: block;
  margin-left: 40px;
}

.person-modal__title {
  color: #141024;
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}

.person-modal__subtitle {
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

.person-modal__icon {
  display: flex;
}

.person__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.person-modal__tabs {
  display: flex;
}

.person-modal__tab {
  margin-right: 180px;
  color: rgba(20, 16, 36, 0.2);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.person-modal__tab:hover {
  color: #141024;
}
.person-modal__tab.active {
  color: #D52027;
}

.line {
  background-color: rgba(20, 16, 36, 0.11);
  height: 1px;
  width: 100%;
  margin-top: 20px;
}

.person-modal__desc {
  margin-top: 20px;
}

.person-modal__info {
  color: #141024;
  font-size: 20px;
  font-weight: 400;
}

.person-modal__heading {
  color: #141024;
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0 20px 0;
}

.bg {
  background-color: rgba(20, 16, 36, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
}

.dn {
  display: none;
}/*# sourceMappingURL=style.css.map */