.header {
  max-width: 1750px;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  // background-color: #141024;
  display: flex;
  justify-content: space-between;
//   text-align: center;
  padding: 30px 15px;
  align-items: center;
}

.logo__img {
    width: 228px;
    height: 48px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav__link {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

