.header {
  max-width: 1750px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #141024;
  display: flex;
//   text-align: center;
  padding: 30px 15px;
  align-items: center;

  @media (min-width: 1024px) {
    justify-content: space-between;
    margin: 0 auto;
  }
}

.logo {
  margin-right: 10px;
  
  @media (min-width: 1024px) {
  }
}

.logo__img {
  width: 136px;
  height: 29px;

  @media (min-width: 1024px) {
    width: 228px;
    height: 48px;
  }
}

.nav {
  // display: flex;
  gap: 40px;
  display: none;

  @media (min-width: 1024px) {
    display: flex; 
  }
}

.nav__link {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.burger {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid  #FFF;
  background-color: rgba(255, 255, 255, 0.08);
  opacity: 0.4;

  @media (min-width: 1024px) {
    display: none;
  }
}

