.mainscreen {
  background-color: #141024;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  position: relative;
  //   height: 100vh;
  height: 1080px;
}

.mainscreen__content {
  display: block;
  margin: 344px auto 0;
  max-width: 1160px;
  width: 100%;
}

.mainscreen__desc {
  max-width: 516px;
}

.mainscreen__title {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  padding-bottom: 20px;
}

.mainscreen__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 50px;
  line-height: 160%;
}

.mainscreen__btn {
  width: 260px;
  height: 79px;
  background-color: #d52027;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.mainscreen-img {
  width: 783px;
  height: 917px;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.mainscreen-img__bg {
  width: 783px;
  height: 783px;
  position: absolute;
  object-position: center;
  object-fit: cover;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
}

.mainscreen-img__front {
  width: 515px;
  height: 917px;
  position: absolute;
  object-position: center;
  object-fit: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}