.person {
    width: 100%;

     @media (min-width: 1024px) {
        width: 100%;
    }
}

.person__title {
    color: #141024;
    font-size: 30px;
    font-weight: 600;
    text-align: center;

    @media (min-width: 1024px) {
        color: #141024;
        font-size: 50px;
        font-weight: 600;
    }
}

.person__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 60px;
}

.person__card {
    max-width: 360px;
    width: 100%;
}

.person__img {
    object-position: center;
    object-fit: cover;
}

.person__info {
    display: block;
}

.person__name {
    color: #141024;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.person__subtitle {
    color: rgba(20, 16, 36, 0.70);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.person__modal {
    color: rgb(213, 32, 39);
    font-size: 18px;
    font-weight: 400;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 63px;
}

.slider__arrow {
    width: 33px;
    height: 33px;
    
}