.product {
    width: 100%;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.product__card {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    border-radius: 20px;
    border: 1px solid rgba(20, 16, 36, 0.20);
    padding: 40px;
}

.product__name {
    color: #141024;
    font-size: 30px;
    font-weight: 600;
}

.product__price {
    color: #141024;
    font-size: 50px;
    font-weight: 600;
    margin-top: 83px;
}

.product__info {
    color: #141024;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 52px;
}

.product__btn {
    width: 280px;
    height: 79px;
    margin-top: auto;
}