.tel {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;

  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.tel-mobile {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid  #FFF;
  background-color: rgba(255, 255, 255, 0.08);
  opacity: 0.4;

  @media (min-width: 1024px) {
    display: none;
  }
}

.mobile {
  width: 24px;
  height: 24px;
}